{% extends 'base.html' %}
{% block title %}Assignment3_1!{% endblock %}
{% block content %}

<main id="aboutUs">
    <div class="generalDetails">
        <h1>About Me</h1>
        {% for title, value in user_info.items() %}
        <h3>{{ title|capitalize }}: {{ value|capitalize }}</h3>
        {% endfor %}
        <h3>Age: {{age|round}}</h3>
    </div>
    {{ super() }}
</main>
<!--note about include function: I used it in the base html file and this page extends the base.-->
<!--note about conditions : I used it in the base html file and this page extends the page and specipic this part by super.-->

{% endblock %}