<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment3_2</title>
</head>
<body>
        <form action="/searchForm" method="get">
            <label class="labelElement" for="fname" >First Name: *</label><br>
            <input class="inputElement" type="text" id="fname" name="fname" pattern="[A-Za-z]{1,15}" required placeholder="Enter first name"><br><br>
            <label class="labelElement" for="lname">Last Name: *</label><br>
            <input class="inputElement" type="text" id="lname" name="lname"  pattern="[A-Za-z]{1,15}" required placeholder="Enter last name"><br><br>
            <label class="labelElement" for="email">Email Address: *</label><br>
            <input class="inputElement" type="email" id="email" name="email" required placeholder="Enter email address"><br><br>
            <input type="submit">

            if
        </form>


<!-- <form action="/registrationForm" method="post">-->
<!--            <input type="text" name="username" placeholder="Username">-->
<!--            <input type="password" name="password" placeholder="Password">-->
<!--            <input type="submit">-->
<!--        </form>-->
</body>
</html>