<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='chefIt.css')}}">
    <script defer src="{{url_for('static',filename='chefIt_JS.js')}}"></script>
</head>
<body>
<div id="gridContainerContactUs">
    {% include('header.html') %}
    <main id="contactUsMain">
        <h1>Let Us Help You</h1>
    </main>
    <form id="form" action="/form" method="get">
        <div id="formText">If you are having any technical problems - please attach a print screen</div>
        <div id="formDiv">
            <label class="labelElement" for="fname">First Name: *</label><br>
            <input class="inputElement" type="text" id="fname" name="fname" pattern="[A-Za-z]{1,15}" required
                   placeholder="Enter first name"><br><br>
            <label class="labelElement" for="lname">Last Name: *</label><br>
            <input class="inputElement" type="text" id="lname" name="lname" pattern="[A-Za-z]{1,15}" required
                   placeholder="Enter last name"><br><br>
            <label class="labelElement" for="email">Email Address: *</label><br>
            <input class="inputElement" type="email" id="email" name="email" required placeholder="Enter email address"><br><br>
            <label class="labelElement" for="telephone">Phone Number: *</label><br>
            <input class="inputElement" type="tel" id="telephone" name="telephone" pattern="[0]{1}[5]{1}[0-9]{8}"
                   required placeholder="Enter phone number"><br><br>
            <div>
                <label class="labelElement" for="description">Description:</label><br>
                <input type="text" id="description" name="description"><br><br>
            </div>
            <label class="labelElement" for="bug">technical problems</label>
            <input id="checkbox" type="checkbox" id="bug" name="bug"><br><br>
            <label id="addFile1" for="addedFile"> Attach File</label><br>
            <input id="addFile2" type="file" id="addedFile" name="addedFile"><br>
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>
    {% include('footer.html') %}
</div>
</body>

</html>