<!--i didnt design this page because we were asked to create 2 pages - so i created this page in order to expend the content of the 2 pages-->
<!DOCTYPE html>
<html>

<head>
	<title>form output </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/chefIt.css">
	<script defer src="../static/chefIt_JS.js"></script>
</head>

<body>
	<header>
		<div id="logo">
			<h1 >Chef<span>It</span></h1>
			<img id="pageImage" src="../static/recipesLogo.jpg" alt="food logo">
		</div>
		<nav>
			<ul>
				<li><a href="../templates/homePage.html">Home Page</a></li>
				<li><a href="../templates/GeneralPage.html"> Sign In</a></li>
				<li><a href="../templates/GeneralPage.html"> Sign Up</a></li>
				<li><a href="../templates/contactUs.html"> Contact Us </a></li>
			</ul>
		</nav>
	</header>


	<main id="aboutUs">
			<h2> We got your details - we will get back to you as soon as possible </h1>
	</main>


	<footer>
		<div class="containerfooter">
			<div class="row">
				<div class="footer-col">
					<h3>Company</h3>
					<ul class="links">
						<li><a href="../templates/contactUs.html">Contact Us</a></li>
						<li><a href="../templates/GeneralPage.html">Support</a></li>
						<li><a href="../templates/GeneralPage.html">Privacy Policy</a></li>
					</ul>
				</div>

				<div class="footer-col">
					<h3>Follow Us</h3>
					<div class="social-links">
						<a href="../templates/GeneralPage.html"><i class="fab fa-facebook-f"><img src="../static/facebookLogo.png"
									alt="facebook logo"></i></a>
						<a href="../templates/GeneralPage.html"><i class="fab fa-twitter"></i><img src="../static/twitterLogo.png"
								alt="twitter logo"></a>
						<a href="../templates/GeneralPage.html"><i class="fab fa-instagram"></i><img src="../static/instagramLogo.jpg"
								alt="instagram logo"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>


</body>

</html>