<!DOCTYPE html>
<html>
<head>
	<title>Home Page </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/chefIt.css">
	<script defer src="../static/chefIt_JS.js"></script>
</head>

<body>
	<div id="gridContainerHomePage">
			<header>
				<div id="logo">
					<h1 >Chef<span>It</span></h1>
					<img id="pageImage" src="../static/recipesLogo.jpg" alt="food logo">
				</div>
				<nav>
					<ul>
						<li><a href="../templates/homePage.html">Home Page</a></li>
						<li><a href="../templates/GeneralPage.html"> Sign In</a></li>
						<li><a href="../templates/GeneralPage.html"> Sign Up</a></li>
						<li><a href="../templates/contactUs.html"> Contact Us </a></li>
					</ul>
				</nav>
			</header>
	
	
		<main id="aboutUs">
			<h1 id="mainSentence">Welcome To Your New Cooking Experience</h1>
			<h3>About Us </h3>
			<div id="text">
                <p> We provide you recipes of all kind of food. </p><br>
                <p> Some of them were wrriten by the greatest chefs. </p><br>
                <p> We invite you to sign in - so you can get updates in your mail.</p><br>
			</div>
			<nav id="homePageNav"> 
				<p id="demo"></p>
				<div class="navDisplay1">
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/pizzaImage.jpg" alt="Italian page link" class="link"></a>
							<span class="spanStyle">Italian</span>
						</div>
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/meetImage.jpg" alt="meet page link" class="link"></a>
							<span class="spanStyle">Meet</span>
						</div>
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/vegetarianFoodImage.jpg" alt="vegetarian page link" class="link"></a>
							<span class="spanStyle">vegetarian</span>
						</div>
					</div>
					<div class="navDisplay1">
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/dessertImage.jpg" alt="dessert page link" class="link"></a>
							<span class="spanStyle">Desserts</span>
						</div>
	
						<div class="option">
							<a href="../templates/GeneralPage.html"><img src="../static/breakfastImage.jpg" alt="breakfast page link" class="link"></a>
							<span class="spanStyle">Breakfast</span>
						</div>
					</div>
			</nav>		


		</main>

       
		<footer>
			<div class="containerfooter">
				<div class="row">
					<div class="footer-col">
						<h3>Company</h3>
						<ul class="links">
							<li><a href="../templates/contactUs.html">Contact Us</a></li>
							<li><a href="../templates/GeneralPage.html">Support</a></li>
							<li><a href="../templates/GeneralPage.html">Privacy Policy</a></li>
						</ul>
					</div>
	
					<div class="footer-col">
						<h3>Follow Us</h3>
						<div class="social-links">
							<a href="../templates/GeneralPage.html"><i class="fab fa-facebook-f"><img src="../static/facebookLogo.png"
										alt="facebook logo"></i></a>
							<a href="../templates/GeneralPage.html"><i class="fab fa-twitter"></i><img src="../static/twitterLogo.png"
									alt="twitter logo"></a>
							<a href="../templates/GeneralPage.html"><i class="fab fa-instagram"></i><img src="../static/instagramLogo.jpg"
									alt="instagram logo"></a>
						</div>
					</div>
				</div>
			</div>
		</footer>


	</div>
</body>

</html>